{
  "extends": "airbnb-base",
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "no-console": 0,
    "spaced-comment": 0,
    "no-param-reassign": 0,
    "consistent-return": 0,
    "no-underscore-dangle": 0,
    "comma-dangle": ["error","never"],
    "object-curly-spacing": ["error","never"],
    "max-len": ["error",120]
  }
}